.border {
    height: 100%;
}

.border > div {
    height: 100%;

	border-right: 1px #000 solid;
	border-left: 1px #000 solid;

    padding-left: 5px;
    padding-right: 5px;
}

.border > div > p {
    height: 100%;
}

@media(max-width: 500px) {
	.card {
		height: 300px;
	}
	.bio {
		border-right: none;
	}
	.name { 
	border-right: none; }
	
}

.fb-messenger-icon {
    margin-top: 15%;
    width: 100%;
}
